@font-face {
    font-family: 'ONE-Mobile-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
    background-color: #eae7e7;
}
section{
    background-color: white;
    width: 84%;
    position: relative;
    margin: auto;
}

.alter-header{
    text-align: left;
    padding: 20px;
    font-weight: bold;
    background-color: #fff;
    font-size: 16px;
}
.user-info{
    padding: 0px 20px 10px 20px;
    background-color: #fff;
    width:100%;
    height:100%;
}
.basic-info-container{
    border-bottom: 1px solid gray;
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 3px;
}
.info-form{
    dislplay: flex;
    flex-direction: row;
    margin: 24px 0;
    display: flex;
    font-size: 14px;
    align-items: center;
}

.gray{
    width: 100px;
    color: gray;
    font-size: 14px;
    font-weight: bold;
    margin-right: 10px;
}
.personal-info{
    font-size: 14px;
    font-weight: bold;
    background-color: #fff;
}
.finish{
    height: 3px;
    background-color: #8080805c;
}
.start{
    margin-top: 10px;
    height: 2px;
    background-color: gray;
}
.btn-alter>button{
    height:20px;
    width: 30px;
    font-size: 10.5px;
    text-align: center;
    padding: 0;
    margin-top: -5px;
    
}
.justify-content{
    position: absolute;
    right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info-form .inputlabel{
    font-size: 14px;
    display: flex;
    margin-right: 5px;
}

.personal-info-alter {
   font-size:10px;
}

.radio{
	margin-left: 0px;
}


input::placeholder {
   font-weight: bold;
   font-family: 'ONE-Mobile-Regular';
   color: black;
   font-size: 12px;
}

.sub {
   margin-left: 20px;
   background-color: #007bff;
   color: white;
   border: solid 1px white;
   border-radius: 8px;
   padding: 5px 8px 5px 8px;
}
.sort{
   display: flex;
    flex-wrap: wrap;
    padding-left:0rem;
}